body {    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.alert-container {
    visibility:hidden; 
    background-color:aliceblue; 
    position:absolute; 
    top:30%; 
    left: 8%; 
    border: 1px solid rgb(141, 141, 141);
    border-radius: 5px; 
    width:350px; 
    height: 170px
}

.main {
    overflow: hidden;
    width: 100%;
    max-width: 600px;
}

.canvas-container {
    width: 100% !important; 
    max-width: 600px;
    height: auto;
    max-height: 75%;
}

.alert-button {
    position: absolute; 
    bottom:10%; 
    left:15%
}